.github__list {
    box-sizing: border-box;
    margin: 0 0px 40px;
    padding: 0;
    width: 100%;
    /*overflow-x: auto;*/
    /*justify-content: center;*/
}
.github__list::-webkit-scrollbar {
    width: 0;
}
.swiper-wrapper {
    display: flex;
}

@media screen and (max-width: 1024px) {
    .github__list {
        margin-left: -18px;
        margin-right: -18px;
    }
}
