.root__section {
  box-sizing: border-box;
  max-width: 1440px;
  padding-left: 104px;
  padding-right: 104px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .root__section {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 425px) {
  .root__section {
    padding-left: 16px;
    padding-right: 16px;
  }
}
