.commit-card__avatar {
    align-self: center;
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 50%;
    grid-row: 2/4;
}

@media screen and (max-width: 1024px) {
    .commit-card__avatar{
        width: 48px;
        height: 48px;
    }
}