.progress-bar__value {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .4px;
    position: relative;
    z-index: 2;
}