<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="<%= require('./images/favicon.png') %>" type="image/x-icon">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
  <title>Document</title>
</head>
<body class="root">
  <div class="root__cover">
  <header class="header header_theme_white">
    <div class="header__container root__section root__section_layout">
    <p class="header__logo">NewsAnalyzer</p>
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="./index.html" class="link header__link">Главная</a>
        </li>
        <li class="header__nav-item">
          <a href="./project.html" class="link header__link">О проекте</a>
        </li>
      </ul>
    </nav>
  </div>
  </header>
  <section class="paper root__section root__section_main">
    <nav class="breadcrums">
      <a href="./index.html" class="link breadcrums__link breadcrums__link_active">Главная/</a>
      <a href="./analytics.html" class="link breadcrums__link">Аналитика</a>
    </nav>
    <h1 class="paper__title title title_size_m">Вы спросили: «Путешествия»</h1>
    <p class="paper__text text">Новостей за неделю: <span class="paper__text-bold">34 324</span></p>
    <p class="paper__text text">Упоминаний в залоговках: <span class="paper__text-bold">235</span></p>
  </section>
  <div class="root__cover root__cover_bg_gray">

    <article class="stats root__section root__section_main">
      <h2 class="title title_size_s stats__title">Аналитика по дням</h2>
      <table class="table">
        <tr class="table__row table__row_type_heading">
          <th class="table__heading">Дата \n (Август)</th>
          <th class="table__heading">Количество упоминаний</th>
        </tr>
        <tr class="table__row table__row_type_number">
          <th class="table__heading"></th>
          <th class="table__heading">0</th>
          <th class="table__heading">25</th>
          <th class="table__heading">50</th>
          <th class="table__heading">75</th>
          <th class="table__heading">100</th>
        </tr>
        <tr class="table__row table__row_type_cell">
          <td class="table__cell text">19, пн</td>
          <td class="table__cell table__cell_wide">
            <div class="progress-bar">
              <span class="progress-bar__value">30</span>
              <div class="progress-bar__fill" width="30%"></div>
            </div>
          </td>
        </tr>
        <tr class="table__row table__row_type_cell">
          <td class="table__cell text">19, пн</td>
          <td class="table__cell table__cell_wide">
            <div class="progress-bar">
              <span class="progress-bar__value">30</span>
              <div class="progress-bar__fill" width="30%"></div>
            </div>
          </td>
        </tr>
        <tr class="table__row table__row_type_cell">
          <td class="table__cell text">19, пн</td>
          <td class="table__cell table__cell_wide">
            <div class="progress-bar">
              <span class="progress-bar__value">30</span>
              <div class="progress-bar__fill" width="30%"></div>
            </div>
          </td>
        </tr>
        <tr class="table__row table__row_type_cell">
          <td class="table__cell text">19, пн</td>
          <td class="table__cell table__cell_wide">
            <div class="progress-bar">
              <span class="progress-bar__value">30</span>
              <div class="progress-bar__fill" width="30%"></div>
            </div>
          </td>
        </tr>
        <tr class="table__row table__row_type_cell">
          <td class="table__cell text">19, пн</td>
          <td class="table__cell table__cell_wide">
            <div class="progress-bar">
              <span class="progress-bar__value">30</span>
              <div class="progress-bar__fill" width="30%"></div>
            </div>
          </td>
        </tr>
        <tr class="table__row table__row_type_cell">
          <td class="table__cell text">19, пн</td>
          <td class="table__cell table__cell_wide">
            <div class="progress-bar">
              <span class="progress-bar__value">30</span>
              <div class="progress-bar__fill" width="30%"></div>
            </div>
          </td>
        </tr>
        <tr class="table__row table__row_type_cell">
          <td class="table__cell text">19, пн</td>
          <td class="table__cell table__cell_wide">
            <div class="progress-bar">
              <span class="progress-bar__value">30</span>
              <div class="progress-bar__fill" width="30%"></div>
            </div>
          </td>
        </tr>

        <tr class="table__row table__row_type_number">
          <th class="table__heading"></th>
          <th class="table__heading">0</th>
          <th class="table__heading">25</th>
          <th class="table__heading">50</th>
          <th class="table__heading">75</th>
          <th class="table__heading">100</th>
        </tr>
      </table>

    </article>
  </div>

    <footer class="footer root__section root__section_layout"><p class="footer__copyright">&copy; 2020  Supersite</p>
      <nav class="footer__nav">
        <ul class="footer__nav-list">
          <li class="footer__nav-item"><a href="./index.html" class="link footer__link">Главная</a></li>
          <li class="footer__nav-item"><a href="./project.html" class="link footer__link">О проекте</a></li>
          <li class="footer__nav-item"><a href="https://praktikum.yandex.ru/" target="_blank" class="link footer__link">Яндекс.Практикум</a></li>
        </ul>
      </nav>
      <div class="footer__social-group">
        <a href="https://github.com/SidorovN" target="_blank"  class="link footer__social-link">
          <img src="<%=require('./images/gh.svg')%>" alt="Гитхаб" class="footer__social-image">
        </a>
        <a href="https://www.facebook.com/" class="link footer__social-link" target="_blank" >
          <img src="<%=require('./images/fb.svg')%>" alt="Фейсбук" class="footer__social-image">
        </a>
      </div>
    </footer>
  </div>
  <script src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>
</html>
