<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="<%= require('./images/favicon.png')%>" type="image/x-icon">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
  <title>Document</title>
</head>
<body class="root">
  <div class="root__cover">
  <header class="header header_theme_white">
    <div class="header__container root__section root__section_layout">
    <p class="header__logo">NewsAnalyzer</p>
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="./index.html" class="link header__link">Главная</a>
        </li>
        <li class="header__nav-item">
          <a href="./project.html" class="link header__link header__link_active">О проекте</a>
        </li>
      </ul>
    </nav>
  </div>
  </header>
  <section class="features root__section root__section_main">
    <h1 class="features__title title title__size_m">Клиентам</h1>
    <p class="features__text text">
      Этот сайт — дипломный проект студента Яндекс.Практикума. Его цель — показать, чему научился студент, какими технологиями владеет.

Вёрстка сайта выполнена по методологии БЭМ. Это делает сайт гибким и масштабируемым. Кроме того, добавлять новые страницы и функциональность проще и быстрее, чем в проектах, выполненных по другим методологиям. Также сайт проще и дешевле поддерживать.

Карточки с новостями приходят с сервера и обрабатываются асинхронно. То есть сайт продолжает работать, пока от сервера приходит ответ. Это повышает удобство использования сервиса.

При создании проекта была использована сборка технологией Webpack. Это современный подход к разработке сайтов. Код оптимизируется, а значит, сайт работает быстрее. Также сайт работает в старых браузерах. Даже если посетители — пользователи старых операционных систем, у них не будет проблем с отображением. А значит, потенциальная аудитория возрастает.

Проект был проверен экспертами Яндекс.Практикума. Если вашему бизнесу нужен сайт, мы рекомендуем обратиться к этому студенту.
    </p>
  </section>
  <div class="root__cover root__cover_bg_gray">

    <section class="root__section root__section_main stack">
      <h2 class="title title_size_m stack__title">Используемые
        технологии</h2>
        <ul class="stack__list">
          <li class="stack__tech">
            <h3 class="text stack__tech-heading">HTML</h3>
            <img src="<%=require('./images/html.svg')%>" alt="HTML" class="stack__img">
          </li>
          <li class="stack__tech">
            <h3 class="text stack__tech-heading">CSS</h3>
            <img src="<%=require('./images/css.svg')%>" alt="CSS" class="stack__img">
          </li>
          <li class="stack__tech">
            <h3 class="text stack__tech-heading">HTML</h3>
            <img src="<%=require('./images/js.svg')%>" alt="JavaScript" class="stack__img">
          </li>
          <li class="stack__tech">
            <h3 class="text stack__tech-heading">HTML</h3>
            <img src="<%=require('./images/webpack.svg')%>" alt="Webpack" class="stack__img">
          </li>
        </ul>

    </section>
  </div>

  <section class="about root__section root__section_main">
    <picture>
      <source srcset="<%= require('./images/image-s.jpg')%>" media="(max-width: 1024px)">
     <img src="<%=require('./images/image-03.jpg')%>" alt="Фотография автора" class="about__avatar">
    </picture>
    <div class="about__column">
      <h2 class="about__title title title_size_m">Об авторе</h2>
      <p class="text text_theme_white about__subtitle">Это блок с описанием автора проекта. Здесь следует указать, как вас зовут, чем вы занимаетесь, какими технологиями разработки владеете.</p>
      <p class="text text_theme_white about__subtitle">Также можно рассказать о процессе обучения в Практикуме, чему вы тут научились, и чем можете помочь потенциальным заказчикам.</p>
    </div>
  </section>

  <section class="github root__cover root__cover_bg_gray">
        <div class="github__container root__section ">
          <h2 class="title title_size_m github__title">История коммитов из GitHub</h2>
          <a href="https://github.com/SidorovN" target="_blank" class="link github__link">Открыть в  Github</a>
          <ul class="github__list">
          <li class="commit-card">
            <time datetime="2015-11-18" class="commit-card__date">18 ноября 2015</time>
              <img src="https://www.navigato.ru/content/news/image18553.jpg" alt="Фоторграфия" class="commit-card__avatar">
              <h3 class="commit-card__name">Мария Фёдорова</h3>
              <p class="commit-card__mail">mariiifed@yandex.ru</p>
            <p class="commit-card__text">With Emmet, you can type CSS-like expressions
              that can be dynamically parsed, and produce
              output depending on what you type in the abb...</p>
          </li>


          <li class="commit-card">
            <time datetime="2015-11-18" class="commit-card__date">18 ноября 2015</time>
              <img src="https://www.navigato.ru/content/news/image18553.jpg" alt="Фоторграфия" class="commit-card__avatar">
              <h3 class="commit-card__name">Мария Фёдорова</h3>
              <p class="commit-card__mail">mariiifed@yandex.ru</p>
            <p class="commit-card__text">With Emmet, you can type CSS-like expressions
              that can be dynamically parsed, and produce
              output depending on what you type in the abb...</p>
          </li>

          <li class="commit-card">
            <time datetime="2015-11-18" class="commit-card__date">18 ноября 2015</time>
              <img src="https://www.navigato.ru/content/news/image18553.jpg" alt="Фоторграфия" class="commit-card__avatar">
              <h3 class="commit-card__name">Мария Фёдорова</h3>
              <p class="commit-card__mail">mariiifed@yandex.ru</p>
            <p class="commit-card__text">With Emmet, you can type CSS-like expressions
              that can be dynamically parsed, and produce
              output depending on what you type in the abb...</p>
          </li>

          <li class="commit-card">
            <time datetime="2015-11-18" class="commit-card__date">18 ноября 2015</time>
              <img src="https://www.navigato.ru/content/news/image18553.jpg" alt="Фоторграфия" class="commit-card__avatar">
              <h3 class="commit-card__name">Мария Фёдорова</h3>
              <p class="commit-card__mail">mariiifed@yandex.ru</p>
            <p class="commit-card__text">With Emmet, you can type CSS-like expressions
              that can be dynamically parsed, and produce
              output depending on what you type in the abb...</p>
          </li>

          <li class="commit-card">
            <time datetime="2015-11-18" class="commit-card__date">18 ноября 2015</time>
              <img src="https://www.navigato.ru/content/news/image18553.jpg" alt="Фоторграфия" class="commit-card__avatar">
              <h3 class="commit-card__name">Мария Фёдорова</h3>
              <p class="commit-card__mail">mariiifed@yandex.ru</p>
            <p class="commit-card__text">With Emmet, you can type CSS-like expressions
              that can be dynamically parsed, and produce
              output depending on what you type in the abb...</p>
          </li>

          <li class="commit-card">
            <time datetime="2015-11-18" class="commit-card__date">18 ноября 2015</time>
              <img src="https://www.navigato.ru/content/news/image18553.jpg" alt="Фоторграфия" class="commit-card__avatar">
              <h3 class="commit-card__name">Мария Фёдорова</h3>
              <p class="commit-card__mail">mariiifed@yandex.ru</p>
            <p class="commit-card__text">With Emmet, you can type CSS-like expressions
              that can be dynamically parsed, and produce
              output depending on what you type in the abb...</p>
          </li>

          <li class="commit-card">
            <time datetime="2015-11-18" class="commit-card__date">18 ноября 2015</time>
              <img src="https://www.navigato.ru/content/news/image18553.jpg" alt="Фоторграфия" class="commit-card__avatar">
              <h3 class="commit-card__name">Мария Фёдорова</h3>
              <p class="commit-card__mail">mariiifed@yandex.ru</p>
            <p class="commit-card__text">With Emmet, you can type CSS-like expressions
              that can be dynamically parsed, and produce
              output depending on what you type in the abb...</p>
          </li>

        </ul>

      </div>
      <div class="pagination">
        <div class="pagination__button"></div>
        <div class="pagination__button"></div>
        <div class="pagination__button"></div>
      </div>
    </section>

  <footer class="footer root__section root__section_layout"><p class="footer__copyright">&copy; 2020  Supersite</p>
    <nav class="footer__nav">
      <ul class="footer__nav-list">
        <li class="footer__nav-item"><a href="./index.html" class="link footer__link">Главная</a></li>
        <li class="footer__nav-item"><a href="./project.html" class="link footer__link">О проекте</a></li>
        <li class="footer__nav-item"><a href="https://praktikum.yandex.ru/" target="_blank" class="link footer__link">Яндекс.Практикум</a></li>
      </ul>
    </nav>
    <div class="footer__social-group">
      <a href="https://github.com/SidorovN" target="_blank"  class="link footer__social-link">
        <img src="<%=require('./images/gh.svg')%>" alt="Гитхаб" class="footer__social-image">
      </a>
      <a href="https://www.facebook.com/" class="link footer__social-link" target="_blank" >
        <img src="<%=require('./images/fb.svg')%>" alt="Фейсбук" class="footer__social-image">
      </a>
    </div>
  </footer>
  </div>

  <script src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>
</html>
