.commit-card {
    width: 450px;
    flex-shrink: 0;
    box-sizing: border-box;
    list-style: none;
    margin: 0 8px;
    padding: 24px;
    flex-basis: 400px;
    background-color: #fff;
    border-radius: 16px;
    min-height: 288px;
    display: grid;
    grid-template-columns: 64px 1fr;
    grid-auto-rows: min-content;
}


@media screen and (max-width: 1024px) {
    .commit-card {
        max-width: 80vw;
    }
}




